<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="card border-primary mb-3">
        <div class="card-header">Reset Filters:</div>
        <div class="card-body text-primary detail-scroll scroll">
          <button #button class="btn btn-success mb-2" type="submit" (click)="reset()">Reset</button>
        </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header">Launch Years:</div>
        <div class="card-body text-primary detail-scroll scroll">
          <button #button class="btn btn-success mb-2" [ngClass]="{'selectedEntry': year.selected}" type="submit" value={{i}} *ngFor="let year of yearsList" (click)="selection(year,'Launchyear',i)">{{year.year}}</button>
        </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header">Successful Launch</div>
        <div class="card-body text-primary scroll">
          <button class="btn btn-success mb-2" [ngClass]="{'selectedEntry': selectedtrue}" type="submit" (click)="selection('true','SuccessfulLaunch')">True</button>
          <button class="btn btn-success" [ngClass]="{'selectedEntry': selectedfalse}" type="submit" (click)="selection('false','SuccessfulLaunch')">False</button>
          </div>
      </div>
      <div class="card border-primary mb-3">
        <div class="card-header">Successful Landings</div>
        <div class="card-body text-primary scroll">
          <button class="btn btn-success mb-2" [ngClass]="{'selectedEntry': selectedlandtrue}" type="submit" (click)="selection('true','SuccessfulLanding')">True</button>
          <button class="btn btn-success" [ngClass]="{'selectedEntry': selectedlandfalse}" type="submit" (click)="selection('false','SuccessfulLanding')">False</button>
            </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col col-sm-4 mb-4" *ngFor="let launch of launches">
          <div class="card">
            <div class="img">
              <img src="{{launch.links.mission_patch ? launch.links.mission_patch : '../../../assets/spinner.gif' }}" alt="Avatar" style="width:100%">
            </div>
            <div>
              <div class="col-sm-12">
              <h4><b>{{launch.mission_name}}#{{launch.flight_number}}</b></h4> 
              </div>
              <div class="col-sm-12">
                <label class="greytext">Mission Ids:</label>
                <li *ngFor="let id of launch.mission_id">{{id}}</li>
              </div>
              <div class="col-sm-12">
                <label class="greytext">Launch Year:</label>
                <span class="pl-2">{{launch.launch_year}}</span>
              </div>
              <div class="col-sm-12">
                <label class="greytext">Successful Launch:</label>
                <span class="pl-2">{{launch.launch_success}}</span>
              </div>
              <div class="col-sm-12">
                <label class="greytext">Successful Landing:</label>
                <span class="pl-2">{{launch.rocket.first_stage.cores[0].land_success}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Scroll to top-->

<div *ngIf="isLoading" class="spin-large"> </div>
