<header>
  <a
    href="https://www.spacex.com/"
    target="_blank"
  >
    <img src="./assets/spacex_logo_white.png" />
  </a>
  <a
    href="https://github.com/jgkingston/space-x-launch-list-angular"
  >
    <img src="./assets/GitHub-Mark-Light-32px.png"/>
  </a>
</header>
<main>
  <h1>SpaceX Launch Program</h1>
  <p>Data of SpaceX launces Along with Filters</p>
  <br/>
  <br/>
  <app-launches></app-launches>
</main>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button class="btn btn-primary btn-sm btn-color" (click)="scrollToTop()">Top
  </button>
</div>
